.page {

}

.page__body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

h1, h2, h3, p, a {
    margin: 0;
}

.wrapper {
    display: grid;
    min-height: 100vh;
    max-height: 100%;
    grid-template-columns: 1fr 4fr;
    grid-template-areas:
        "sidebar main";
}

.main {
    width: 100%;
    grid-area: main;
}

.sidebar {
    width: 300px;
    height: 100%;
    grid-area: sidebar;
}

.logo {
    margin-top: 30px;
    height: 60px;
    display: flex;
    align-items: center;
    column-gap: 15px;
    margin-left: 30px;
}

.logo__icon {

}

.logo__title {
    font-weight: 600;
}



.tools {
    margin: 0;
    padding: 0;
    display: grid;
    row-gap: 30px;
    margin-top: 100px;
    width: 280px;
}

.tools__item {
    background-color: #f4f4f4;
    display: grid;
    grid-template-columns: max-content max-content;
    position: relative;
    border-radius: 0 40px 40px 0;
    height: 60px;
    align-items: center;
}

.tools__item-active {
    background: linear-gradient(135deg, rgba(147,165,207,1) 0%, rgba(180,236,233,1) 100%);
}

.tools__item:hover {
    background-color: #ebebeb;
}

.tools__item--icon {
    margin: 0 30px;
    fill: #c5c5c5;
}

.tools__item--icon-active {
    fill: #fff;
}

.tools__item--title {
    font-weight: 500;
    font-size: 22px;
    color: #c5c5c5;
}

.tools__item--title-active {
    font-weight: 600;
    color: #fff;
}

.tools__item--btn {
    width: 100%;
    height: 100%;
    position: absolute;
    background: none;
    border: none;
    cursor: pointer;
    border-radius: 0 30px 30px 0;
}

.tools__item--btn-active {

}



.search__bar {
    width: 100%;
    height: 60px;
    display: flex;
    margin: 30px 0;
    align-items: center;
    column-gap: 30px;
    padding-left: 30px;
}

.search__bar--input {
    height: 60px;
    width: 600px;
    max-width: 100%;
    padding: 20px;
    border-radius: 20px;
    border: none;
    background-color: #f4f4f4;
    font-size: 22px;
    font-weight: 400;
    color: #c5c5c5;
}

.search__bar--icon {
    fill: #c5c5c5;
}



/* Workspace */

.workspace {
    padding: 30px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.bar {
    position: relative;
    width: 100%;
    display: grid;
    align-self: center;
    align-items: center;
    grid-template-columns: 110px 1fr 1fr;
    border-bottom: 1px #c5c5c5 solid;
    row-gap: 15px;
}

.bar:last-child {
    border: none;
}

.bar__file--btn {
    height: 80px;
    width: 80px;
    border: none;
    background: none;
    padding: 0;
    margin: 15px;
    cursor: pointer;
    border-radius: 15px;
}

.bar__file--btn:hover {
    background-color: #c5c5c530;
}

.bar__file--btn-pic {
    height: 70px;
    width: 70px;
    object-fit: contain;
}

.bar__file--title {
    font-size: 22px;
}

.bar__file--size {
    text-align: right;
    font-size: 22px;
    color: #5c5c5c;
}

.bar__file--action {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}







.header__nav {
    display: flex;
}

.user {
    margin-right: 30px;
    display: flex;
    align-items: center;
}


.user__pic {
    padding: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    border: none;
    background: none;
}

.user__pic-name {
    font-size: 25px;
    font-weight: 500;
    margin-right: 15px;
}

.user__pic-img {
    position: relative;
    height: 60px;
    border-radius: 30px;
}

.menu {
    position: fixed;
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: grid;
    row-gap: 15px;
    top: 120px;
    background-color: #f4f4f4;
    border-radius: 15px;
    padding: 30px;
    right: 30px;
    z-index: 1;
}

.menu--hidden {
    display: none;
}

.menu__item {
    display: grid;
}

.menu__item--user {
    border: none;
    background: none;
    display: flex;
    column-gap: 30px;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    cursor: pointer;
}

.menu__item--user-name {
    font-size: 20px;
}

.menu__item--user-pic {
    height: 60px;
    border-radius: 30px;
}
